@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;

  font-family: "Space Grotesk", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #11111b;
  flex-direction: column;

  gap: 32px;

  color: #cdd6f4;
  text-align: center;
}

p { margin: 0 }

h1 {
  font-size: 32px;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

small {
  font-size: 0.75em;
  opacity: 0.5;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: inherit;
}

footer {
  display: flex;
  gap: 16px;
}

button {
  appearance: none;
  background: unset;
  color: unset;
  font: unset;
  border: unset;
}

.chip {
  width: 12px;
  height: 24px;
  border-radius: 6px;
}
.chip[data-type=ok] {
  background-color: #A6E3A1;
}
.chip[data-type=pending] {
  background-color: #F9E2AF;
}
.chip[data-type=error] {
  background-color: #F38BA8;
}

#before-last {
  opacity: 0.5;
}

#before-last, #last {
  display: flex;
  align-items: center;
  gap: 8px;
}

aside {
  position: absolute;
  bottom: 32px;
  left: 32px;
  right: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

img {
  display: block;
}

.composite-image {
  position: relative;
}
.composite-image .above-image {
  z-index: 100;
  inset: 0;
  position: absolute;
  border-radius: 4px;
  mix-blend-mode: color;
}

[data-maskvariant=pending] {
  background-color: #cdd6f4;
}
[data-maskvariant=error] {
  background-color: #F38BA8;
}
